{{ $wp := .Site.Data.webpack }}
{{ if $wp }}
{{ $hash := $wp.hash }}
{{ if $hash }}
{{/* Legacy format */}}
{{ if .Site.Params.full_authentication }}
<script src="{{ $hash | printf "./js/theme/partials_full_auth.%s.js" | relURL }}"></script>
{{ else }}
<script src="{{ $hash | printf "./js/theme/partials_simple_auth.%s.js" | relURL }}"></script>
{{ end }}
{{ else }}
{{/* Manifest format */}}
{{ if .Site.Params.full_authentication }}
{{ with index $wp "theme/partials_full_auth" }}
<script src="{{ printf "./js/%s" . | relURL }}"></script>
{{ end }}
{{ else }}
{{ with index $wp "theme/partials_simple_auth" }}
<script src="{{ printf "./js/%s" . | relURL }}"></script>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
