<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
	<link href="{{ "/css/glycosuite.css" | relURL }}" rel="stylesheet" type="text/css">
	<link href="{{ "/css/header.css" | relURL }}" rel="stylesheet" type="text/css">
	<link href="{{ "/css/menubar.css" | relURL }}" rel="stylesheet" type="text/css">

	{{ if .Site.Data.webpack.hash }}
	<script src="{{ .Site.Data.webpack.hash | printf "/js/runtime.%s.js" | relURL }}"></script>
	<script src="{{ .Site.Data.webpack.hash | printf "/js/commons.%s.js" | relURL }}"></script>
	<script src="{{ .Site.Data.webpack.hash | printf "/js/vendor.%s.js" | relURL }}"></script>
	<script src="{{ .Site.Data.webpack.hash | printf "/js/theme/common_bootstrap.%s.js" | relURL }}"></script>
	{{ end }}
	{{ if .Params.skip_authentication }}
	{{ else }}
		{{ partial "authentication_header.html" . }}
	{{ end }}
	{{ partial "user_head_elements.html" . }}
	<style>
	body, html {
	  margin: 0;
	  height:100%
	}
	:root {
	{{ if (isset .Site.Params "default_color" ) }}
		--base-hue: {{ .Site.Params.default_color }};
	{{ end  }}
	{{ if (isset .Site.Params "default_lum" ) }}
		--base-lum: {{ .Site.Params.default_lum }};
	{{ end  }}
	{{ if (isset .Site.Params "default_sat" ) }}
		--base-saturation: {{ .Site.Params.default_sat }}%;
	{{ end  }}
	}
	</style>
	{{ partial "global_styles.html" . }}
</head>
