{{ partial "user_components.html" . }}
<header class="pageheader">
<section class="logo">
  {{ if .Title }}
    {{ if isset .Site.Params "home_link_url" }}
      <a class="home" href="{{ .Site.Params.home_link_url }}"></a>
    {{ else }}
      <a class="home" href="{{ "/" | relURL }}"></a>
    {{ end }}
    <h1>{{.Title}}</h1>
  {{ else }}
    <h1>{{.Title}}</h1>
    <a class="center" href="https://glycomics.ku.dk"></a>
  {{ end }}
  {{ if not .Params.skip_authentication }}
    <span class="user"><x-userstatus/></span>
  {{ end }}
  {{ partial "user_pageheader.html" }}
 </section>
 {{ if not .Params.skip_menubar }}
 {{ partial "menubar.html" . }}
 {{ end }}
</header>

{{ $scratch := newScratch }}

{{ with partial "logo_image.html" . }}
{{- $scratch.Set "logo_image" . }}
{{ end }}

{{ $logo := $scratch.Get "logo_image" | safeURL }}


<style>
header.pageheader section.logo:before {
  content: '';
  display: block;
  background-color: var(--foreground-color);
  mask: url({{ $logo }}) no-repeat 10px 4px/5em 100% exclude;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
</style>