<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
	<link href="{{ "/css/glycosuite.css" | relURL }}" rel="stylesheet" type="text/css">
	<script src="{{ .Site.Data.webpack.hash | printf "/js/runtime.%s.js" | relURL }}"></script>
	<script src="{{ .Site.Data.webpack.hash | printf "/js/commons.%s.js" | relURL }}"></script>
	<script src="{{ .Site.Data.webpack.hash | printf "/js/vendor.%s.js" | relURL }}"></script>
	<script src="{{ .Site.Data.webpack.hash | printf "/js/theme/common_bootstrap.%s.js" | relURL }}"></script>
	{{ if .Params.skip_authentication }}
	{{ else }}
		{{ partial "authentication_header.html" . }}
	{{ end }}
	<style>
	body, html {
	  margin: 0;
	  height:100%
	}
	{{ if (isset .Site.Params "default_color" ) }}
	:root {
		--base-hue: {{ .Site.Params.default_color }};
	}
	{{ end  }}
	</style>
	{{ partial "global_styles.html" . }}
</head>
