{{ $hash := .Site.Data.webpack.hash }}
{{ with .File }}
	{{ $page_dir := path.Dir .Dir }}
	{{ if eq $page_dir "/" }}
      {{ $page_dir := "index" }}
	{{ else }}
	  {{ $page_dir := replace $page_dir "/" "_" }}
	  {{ $page_parents := split .Dir "/" }}
	  {{ $page_parent := index $page_parents 0 }}
	  {{ if fileExists ($hash | printf "static/js/site/pages_%s_.%s.js" $page_parent) }}
	<script src="{{ $hash | printf "js/site/pages_%s_.%s.js" $page_parent | relURL }}"></script>
	  {{ end }}
	{{ end }}
	{{ if fileExists ($hash | printf "static/js/site/pages_%s.%s.js" $page_dir) }}
	<script src="{{ $hash | printf "./js/site/pages_%s.%s.js" $page_dir | relURL }}"></script>
	{{ end }}
{{ end }}