{{ partial "searchbox.html" . }}
{{ partial "user_components.html" . }}
<section class="menu">
  <input id="mobiletoggle" type="checkbox">
  <label class="mobiletoggle" for="mobiletoggle"></label>
  <ul>
    <li class="mobiletoggle"><x-userstatus/></li>
      {{ $currentPage := . }}
      {{ partial "render_menu.html" . }}
      {{ $scratch := newScratch }}

      {{ if isset .Site.Params "main_menu_search" }}
        {{ $scratch.Set "main_menu_search" .Site.Params.main_menu_search }}
      {{ end }}
      {{ if isset .Params "main_menu_search" }}
        {{ $scratch.Set "main_menu_search" .Params.main_menu_search }}
      {{ end }}
      {{ if $scratch.Get "main_menu_search" }}
      <li><label style="min-height: var(--menu-height);">
      {{ if isset .Site.Params "main_menu_search_species" }}
      {{ $scratch.Set "taxid" .Site.Params.main_menu_search_species }}
      {{ end }}
      {{ if isset .Params "main_menu_search_species" }}
      {{ $scratch.Set "taxid" .Params.main_menu_search_species }}
      {{ end }}
      <x-searchbox menu species='{{ $scratch.Get "taxid" }}' class="search">{{ partial "search_result_links.html" . }}
</x-searchbox></label></li>
      {{ end }}
  </ul>
</section>

<style>
section.menu {
  --menu-outline: var(--main-border-color);
  --menu-background: var(--darker-medium-main-color);
  --menu-highlight: var(--darker-main-color);
  --menu-foreground: var(--base-foreground);
}

section.menu {
  display: block;
  position: relative;
  width: 100%;
  --menu-font: 9pt;
  --menu-height: calc( var(--menu-font) * 1.25 + 6px);
  --submenu-height: calc( var(--menu-font) * 1.25 + 6px + 1em);
  --menu-item-width: 155px;
  --menu-border-width: 1px;
  --menu-box-shadow-color: rgba(70,70,70,0.2);
  --menu-shadow-definition:  2px 3px 5px 1px;
  z-index: var(--header-z-index);
  /* NOSELECT */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */  
}

section.menu input + label + ul {
  height: 0px;
  visibility: hidden;
}

section.menu > input + label + ul {
  height: auto;
  visibility: visible;
}

section.menu input[type="radio"], section.menu input[type="checkbox"] {
  position: fixed;
  left: 0px;
  opacity: 0;
}

section.menu input[type="checkbox"]:checked + label + ul {
  height: auto;
  visibility: visible;
  transform: skewX(0deg);
}

section.menu input[type="checkbox"]:checked + label:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  right: -0.5em;
}

section.menu > ul, label a {
    color: var(--menu-foreground);
    text-decoration: none;
}

section.menu > ul {
  margin: 0px;
  display: flex;
  flex-direction: row-reverse;

  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;

  background: var(--menu-background);
  text-transform: uppercase;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-size: var(--menu-font);
  padding-left: 0px;
}

section.menu li ul {
  border-bottom-right-radius: var(--glyco-button-radius);
}

section.menu ul > li:nth-child(10) {
  z-index: 1;
}

section.menu ul > li:nth-child(9) {
  z-index: 2;
}

section.menu ul > li:nth-child(8) {
  z-index: 3;
}

section.menu ul > li:nth-child(7) {
  z-index: 4;
}

section.menu ul > li:nth-child(6) {
  z-index: 5;
}

section.menu ul > li:nth-child(5) {
  z-index: 6;
}

section.menu ul > li:nth-child(4) {
  z-index: 7;
}

section.menu ul > li:nth-child(3) {
  z-index: 8;
}

section.menu ul > li:nth-child(2) {
  z-index: 9;
}

section.menu ul > li:nth-child(1) {
  z-index: 10;
}

section.menu ul > li {
  display: block;
  position: relative;
  /* Removed because of Firefox weirdness height: calc( 100% - 2 * var(--menu-border-width) ); */
  max-height: var(--menu-height);
  border-top: solid var(--menu-outline) var(--menu-border-width);
  border-bottom: solid var(--menu-outline) var(--menu-border-width);
  border-right: solid var(--menu-outline) var(--menu-border-width);
  transform: skewX(-15deg);
  margin-top: -1px;
}

section.menu ul > li > * {
  transform: skewX(15deg);
  transform-origin: 0% 0%;
}

section.menu ul > li > input {
  transform: none;
  width: 0px;
  height: 0px;
}

section.menu ul > li {
  margin-left: -0.25em;
  margin-right: 0.25em;

}

section.menu label {
  display: inline-block;
  position: relative;
  padding-right: 0px;
  width: calc( 100% - 2em );
  height: 100%;
  line-height: var(--menu-height);
  padding-left: 2em;
}

section.menu input + label {
  cursor: pointer;
}

section.menu label:before {
  content: '⠶';
  overflow: hidden;
  padding-right: 0.5em;
  line-height: 0.9em;
  font-size: 1.5em;
  left: 0.25em;
  color: var(--menu-outline);
  display: block;
  position: absolute;
  height: var(--menu-height);
}

section.menu li ul label:before {
  display: none;
}

section.menu ul > li[onfocusout]:focus-within, li:hover {
  background: var(--menu-highlight);
}

section.menu ul > li:focus-within a {
  outline: none;
}

section.menu ul > li[onfocusout]:focus-within label:before, li:hover label:before {
  color: var(--menu-foreground);
}

section.menu ul > li:focus-within:before, li:hover:before {
  background: var(--menu-highlight);
}

section.menu ul > li:focus-within:after, li:hover:after {
  content: ' ';
  display: block;
  width: calc(0.9 * var(--menu-height));
  height: 100%;
  /*background: var(--menu-highlight);*/
  position: absolute;
  left: 100%;
  top: 0px;
}

section.menu label a {
  position: relative;
  width: calc( 100% - 1em );
  left: -1em;
  padding-left: 1em;
  display: inline-block;
}

section.menu li ul li label a {
  width: 100%;
  padding-right: 1em;
}

section.menu li ul {
  position: relative;
  padding: 0px;
  top: 2px;
  left: -1px;
  width: 100%;
  border-left: solid var(--menu-outline) var(--menu-border-width);
  border-right: solid var(--menu-outline) var(--menu-border-width);
  border-bottom: solid var(--menu-outline) var(--menu-border-width);
  background: var(--menu-background);
  box-shadow: var(--menu-shadow-definition) var(--menu-box-shadow-color);
}

section.menu li ul li {
  margin-right: 0px;
  width: 100%;
  transform: none;
  border: 0px;
}

section.menu li ul li > * {
  transform: skewX(15deg);
}

section.menu li ul > li {
  margin-left: 0;
}


section.menu li ul li label {
  padding-left: 1em;
}

section.menu li ul li:before {
  display: none;
}
section.menu li ul li:hover:after {
  display: none;
}
section.menu li ul li:last-child:after {
  display: none;
}

section.menu label.mobiletoggle, section.menu li.mobiletoggle {
  display: none;
}

section.menu > ul > li:not([class^="menuitem"]) {
  order:  -1;
}

section.menu > ul > li:not([class^="menuitem"]).mobiletoggle {
  order:  1;
}

@media not screen
  and (min-width: 320px)
  and (max-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  section.menu input#mobiletoggle {
    display: none;
  }
  section.menu > ul > li[class^="menuitem"]:nth-last-of-type(1) > ul > li:nth-child(1) > label {
    padding-left: 1.1em;
  }

  section.menu > ul > li[class^="menuitem"]:nth-last-of-type(1) > ul > li:nth-child(2) > label {
    padding-left: 1.5em;
  }

  section.menu > ul > li[class^="menuitem"]:nth-last-of-type(1) > ul > li:nth-child(3) label {
    padding-left: 1.9em;
  }

}

@media not screen
  and (min-width: 320px)
  and (max-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2),
  screen and (orientation: landscape) {

  section.menu > ul {
    padding-left: calc( 0.75 * env(safe-area-inset-left) );
  }
  section.menu > ul > li[class^="menuitem"]:last-child {
    border-left: solid var(--menu-outline) var(--menu-border-width);      
  }

}


@media only screen
  and (min-width: 320px)
  and (max-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  section.menu * {
    --menu-font: 9pt;
    font-weight: normal;
    --submenu-height: calc( var(--menu-font) * 2 + 6px);
  }

  section.menu > ul {
    flex-direction: column-reverse;
    box-shadow: var(--menu-shadow-definition) var(--menu-box-shadow-color);
  }


  section.menu ul li {
    transition: height 0.5s, opacity 0.25s, max-height 0.5s;
  }

  section.menu li.mobiletoggle {
    display: block;
  }

  section.menu label.mobiletoggle {
    display: block;
    position: absolute;
    top: -3em;
    left: 0em;
    height: 2em;
    width: 6em;
    padding-top: 1em;
  }

  section.menu > input[type="checkbox"] ~ ul {
    display: flex;
    height: auto;
    overflow: hidden;
    border: 0px;
  }

  section.menu > input[type="checkbox"] ~ ul > li {
    max-height: 0px;
  }

  section.menu > input[type="checkbox"]:checked ~ ul > li {
    max-height: calc( 10 * var(--menu-height) );
  }

  section.menu ul input[type="checkbox"] ~ ul li {
    height: 0px;
    overflow: hidden;
    opacity: 0;
  }

  section.menu ul input[type="checkbox"]:checked ~ ul {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  section.menu ul input[type="checkbox"] ~ label ~ ul {
    height: auto;
  }


  section.menu ul input[type="checkbox"]:checked ~ ul li {
    opacity: 1;
    height: var(--menu-height);
  }

  section.menu input[type="checkbox"]:checked + label:before {
    transform: translate(0px,0px);
  }

  section.menu input[type="checkbox"] + label:before {
    content:  '▼';
    padding: 0px;
    transform: rotate(-90deg);
    transition: transform 0.2s;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    width: 1em;
    height: 1em;
  }

  section.menu input[type="checkbox"]:checked + label.mobiletoggle:before {
    transform: rotate(4500deg);
    content: '✕';
  }

  section.menu input[type="checkbox"] + label.mobiletoggle:before {
    top: 1.25em;
    left: 0.25em;
    transform: scale(1);
    content:  '☰';
  }

  section.menu input[type="checkbox"] + label:before {
    font-size: 1em;
    left: 0.5em;
    top: 0.95em;
    color: var(--menu-foreground);
    display: block;
    position: absolute;
  }

  section.menu {
    position: absolute;
  }

  section.menu > ul {
    height: auto;
  }

  section.menu > ul li:before, section.menu > ul li:after, section.menu > ul li:last-child:after {
    display: none;
  }

  section.menu ul > li {
    width: 100%;
    margin: 0px;
    border: 0;
    transform: none;
  }

  section.menu ul > li, section.menu ul > li > *, section.menu li ul li > * {
    transform: none;
  }

  section.menu li > ul {
    width: 100%;
    left: 0px;
    top: 0px;
    border: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }

  section.menu li ul {
    border: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: none;
    border-radius: 0px;
  }

  section.menu li > ul li {
    width: 100%;
    left: 0px;
  }


  section.menu > input[type="checkbox"] + label + ul > li > input[type="checkbox"] + label + ul {
    --menu-height: var(--submenu-height);
  }

  section.menu > input[type="checkbox"] + label + ul > li label {
    padding-left: 2em;
  }

  section.menu > input[type="checkbox"] + label + ul > li > input[type="checkbox"] + label {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }


  section.menu > input[type="checkbox"]:checked + label + ul > li label {
  }

  section.menu li > input[type="checkbox"]:checked + label + ul li:last-child {
    padding-bottom: 0px;
  }

  section.menu label, section.menu li ul li label {
    padding: 0px;
    padding-left: 2em;
  }

}

section.menu x-searchbox::part(root) * {
  --main-color: var(--main-color);
  --foreground-color: var(--foreground-color);
  --base-color-darkest: var(--base-color-darkest);
  --main-border-color: var(--main-border-color);
  --darker-medium-main-color: var(--darker-medium-main-color);
  --darker-main-color: var(--darker-main-color);
  --highlight-color: var(--highlight-color)
  --error-color: var(--error-color)
  --foreground-color: var(--foreground-color);
}

section.menu  x-searchbox::part(root) {
  --dropdown-font-weight: lighter;
}

section.menu x-searchbox::part(form) {
  width: 15em;
  margin-right: 1em;
  --result-rows: 3;
  z-index: 4;
  position: relative;
  top: calc( 0.25*(var(--menu-height) - 1em - 5px) );
  left: 0em;
  color: #000;
}

@media only screen
  and (min-width: 320px)
  and (max-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  section.menu x-searchbox::part(form) {
    min-height: 1.5em;
    margin-right: 0;
    top: 0;
  }

  section.menu x-searchbox::part(form) {
    width: calc( 100% - 2em );
  }

}

section.menu x-searchbox[menu]::part(button) {
  box-shadow: none;
  padding: 0px;
}

section.menu x-searchbox[menu]::part(button) {
  margin-left: 0em;
}

section.menu x-searchbox[menu]::part(button):after, x-searchbox[menu]::part(button):before {
  box-shadow: none;
}
</style>