{{ partial "searchbox.html" . }}
{{ partial "user_components.html" . }}
<section class="menu">
  <input id="mobiletoggle" type="checkbox">
  <label class="mobiletoggle" for="mobiletoggle"></label>
  <ul>
    <li class="mobiletoggle"><label><a href="/" title="Home">Home</a></label></li>
    <li class="mobiletoggle"><x-userstatus/></li>
      {{ $currentPage := . }}
      {{ partial "render_menu.html" . }}
      {{ $scratch := newScratch }}

      {{ if isset .Site.Params "main_menu_search" }}
        {{ $scratch.Set "main_menu_search" .Site.Params.main_menu_search }}
      {{ end }}
      {{ if isset .Params "main_menu_search" }}
        {{ $scratch.Set "main_menu_search" .Params.main_menu_search }}
      {{ end }}
      {{ if $scratch.Get "main_menu_search" }}
      <li><label style="min-height: var(--menu-height);">
      {{ if isset .Site.Params "main_menu_search_species" }}
      {{ $scratch.Set "taxid" .Site.Params.main_menu_search_species }}
      {{ end }}
      {{ if isset .Params "main_menu_search_species" }}
      {{ $scratch.Set "taxid" .Params.main_menu_search_species }}
      {{ end }}
      <x-searchbox menu species='{{ $scratch.Get "taxid" }}' class="search">{{ partial "search_result_links.html" . }}
</x-searchbox></label></li>
      {{ end }}
  </ul>
</section>