{{ $id := "protviewer" }}
{{ if (.Get 1) }}
  {{ $id := (.Get 1) }}
{{ end }}
<ccg-protviewer id="{{ $id }}" interactive >
  <ccg-alignment src="{{ (.Get 0) | relURL }}">
    <template>
    <ccg-gatortrack name="uniprot" scale="uniprot" ></ccg-gatortrack>
    <ccg-trackrenderer track="uniprot" renderer="{{ $id }}" offset="10" src="{{ "glycodomain.packed.renderer.js" | absLangURL }}">
    </ccg-trackrenderer>
    <ccg-trackrenderer track="uniprot" renderer="{{ $id }}" offset="-15" src="{{ "msdata.packed.renderer.js" | absLangURL }}">
    </ccg-trackrenderer>
    </template>
  </ccg-alignment>
</ccg-protviewer>
