{{ $id := "protviewer" }}
{{ if (.Get 1) }}
  {{ $id := (.Get 1) }}
{{ end }}
<x-protviewer id="{{ $id }}" interactive >
  <x-alignment src="{{ (.Get 0) | relURL }}">
    <template>
    <x-gatortrack name="uniprot" fullname="Protein" scale="uniprot" ></x-gatortrack>
    <x-trackrenderer track="uniprot" renderer="{{ $id }}" offset="10" src="{{ "glycodomain.packed.renderer.js" | absLangURL }}">
    </x-trackrenderer>
    <x-trackrenderer track="uniprot" renderer="{{ $id }}" offset="-15" src="{{ "msdata.packed.renderer.js" | absLangURL }}">
    </x-trackrenderer>
    </template>
  </x-alignment>
</x-protviewer>
