{{ $id := "protviewer" }}
{{ if (.Get 0) }}
  {{ $id := (.Get 0) }}
{{ end }}
<ccg-summary-protviewer id="{{ $id }}" interactive >
  <ccg-gatortrack name="ptms" fullname="Modifications" scale="uniprot" ></ccg-gatortrack>
  <ccg-gatortrack name="predictions" fullname="NetOGlyc4.0" scale="uniprot" ></ccg-gatortrack>
  <ccg-gatortrack name="domains" fullname="Domains" scale="uniprot" ></ccg-gatortrack>
  <ccg-gatortrack name="composition_summary" fullname="Glycan evidence" scale="uniprot" ></ccg-gatortrack>
</ccg-summary-protviewer>
<ccg-trackrenderer track="domains" renderer="{{ $id }}" src="{{ "glycodomain.packed.renderer.js" | absLangURL }}">
</ccg-trackrenderer>
<ccg-trackrenderer track="predictions" renderer="{{ $id }}" src="{{ "predictions.renderer.js" | absLangURL }}">
</ccg-trackrenderer>
<ccg-trackrenderer track="ptms" renderer="{{ $id }}" src="{{ "msdata.packed.renderer.js" | absLangURL }}">
</ccg-trackrenderer>